<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=.;Initial Catalog=DbTask;Integrated Security=True;TrustServerCertificate=True" name="Conndb"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" timeout="2" />
		</authentication>
		<!--<authorization>
			<deny users="?" />
			--><!-- Deny anonymous users --><!--
		</authorization>-->
	</system.web>  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>